# Configurações do MongoDB
MONGO_USERNAME=mongoadmin
MONGO_PASSWORD=mongopassword
MONGO_HOSTNAME=localhost
MONGO_PORT=27017

# Outras configurações do Flask
FLASK_ENV=development

# Serviços
OPEN_WEATHER_MAP_API_KEY=6543594afec381ce441ca52dda10cd52
OPEN_WEATHER_MAP_BASE_URL=http://api.openweathermap.org/data/2.5/weather
